// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  margin: 17px 0;
}

table {
  display: table;
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}

tr th{
  padding: 1px 1px 5px;
}

tbody td{
    padding: 1px 5px 7px;
}

a{
  color: #333;
}

h2{
  margin: 17px 0;
}

.alart-count{
  margin: -7px -7px 0;
  padding: 5px 5px 5px 15px;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  background-color: #c00;
  color: #fff;
}

div{
  margin-bottom: 10px;
}

.alaet{
  width: 450px;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  border: 2px solid red;
  background-color: #f0f0f0;
}

label{
  display: block;
}

#notice{
  color: green;
}